

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
html{

	scroll-behavior:smooth;

}


*{

	padding:0px;
	margin:0px;
	box-sizing: border-box;
	font-family: 'Anton', sans-serif;
	
	

}
#main-body{
	width:100%;
	min-height:100rem;
	position: relative;
}

#white-background{

	width:20%;
	height:100%;
	float:left;

	

}
#grey-background{
	

	width:80%;
	height:100%;
	background-color:#132743;
	background-color:rgb(35, 34, 34);
    float:right;
}


#intro-text{
    
	width:100%;
	min-height:70vh;
	display:flex;
	flex-direction: column;;
	justify-content:center;
	align-items:center;

	
	
	
}
#intro-text-box{
	margin-top:14%;
	margin-bottom:14%;
}
#intro-text-box >h1{

		color:transparent;
	
		-webkit-text-stroke:1px white;
		letter-spacing:4px;
		font-family: 'Secular One', sans-serif;	
	    margin-top:5%;

		
}


#intro-text-box > p{

	font-size:2rem;
	color:white;
	position: relative;
	
}


#Exclamation-Mark{

	font-size:4rem;

}

#g{
	font-size:4rem;
	position: relative;
	animation:gText 0.6s ease-in forwards 1;
	animation-delay:1.5s;
	top:-400px;
}

@keyframes gText{

	0%{
		
		top:-400px;
		
	}
	
	100%{
		
		top:0px;

	}
}

#n{
	
	top:-400px;
	font-size:4rem;

	position: relative;
	animation:nText 0.6s ease-in forwards 1;
	animation-delay:1.7s;
}

@keyframes nText{
	0%{
		top:-400px;
	}
100%{
		top:0px;

	}
}

#i{
	
	top:-400px;
	font-size:4rem;
	
	position: relative;
	animation:i 0.6s ease-in forwards 1;
	animation-delay:1.9s;
}

@keyframes i{
	0%{
		top:-400px;
	}
100%{
		top:0px;

	}
}
#r{
	
	top:-400px;
	font-size:4rem;
	
	position: relative;
	animation:r 0.6s ease-in forwards 1;
	animation-delay:2s;
}

@keyframes r{
	0%{
		top:-400px;
	}
100%{
		top:0px;

	}
}
#e{
	
	top:-400px;
	font-size:4rem;
	
	position: relative;
	animation:e 0.6s ease-in forwards 1;
	animation-delay:2.1s;
}

@keyframes e{
	0%{
		top:-400px;
	}
100%{
		top:0px;

	}
}

#s{
	
	top:-400px;
	font-size:4rem;
	
	position: relative;
	animation:s 0.6s ease-in forwards 1;
	animation-delay:2.2s;
}

@keyframes s{
	0%{
		top:-400px;
	}
100%{
		top:0px;

	}
}

#t{
	
	top:-400px;
	font-size:4rem;
	
	position: relative;
	animation:t 0.6s ease-in forwards 1;
	animation-delay:2.3s;
}

@keyframes t{
	0%{
		top:-400px;
	}
100%{
		top:0px;

	}
}

/* before tsering word animation */

#m{
	
	top:-400px;
	font-size:4rem;
	
	position: relative;
	animation:m 0.6s ease-in forwards 1;
	animation-delay:2.4s;
}

@keyframes m{
	0%{
		top:-400px;
	}
100%{
		top:0px;

	}
}

#a{
	
	top:-400px;
	font-size:4rem;
	
	position: relative;
	animation:a 0.6s ease-in forwards 1;
	animation-delay:2.5s;
}

@keyframes a{
	0%{
		top:-400px;
	}
100%{
		top:0px;

	}
}


#I{
	
	top:-400px;
	font-size:4rem;
	
	position: relative;
	animation:I 0.6s ease-in forwards 1;
	animation-delay:2.7s;
}

@keyframes I{
	0%{
		top:-400px;
	}
100%{
		top:0px;

	}
}

#hi{
	top:-400px;
	font-size:4rem;
	
	position: relative;
	animation:hi 0.6s ease-in forwards 1;
	animation-delay:2.8s;
}


@keyframes hi{
	0%{
		top:-400px;
	}
100%{
		top:0px;

	}
}
#Excla{
	
	top:-400px;
	font-size:4rem;
	
	position: relative;
	animation:Excla 0.6s ease-in forwards 1;
	animation-delay:3.5s;
}

@keyframes Excla{
	0%{
		top:-400px;
	}
100%{
		top:0px;

	}
}




/* image/ */

#image-background{


	border-radius:50%;
	background-color:white;
	display: flex;
	justify-content: center;
	align-items: center;
	position:absolute;
	left:10%;
	top:10%;
	position:fixed;
	padding:20px;
	animation:imageBounce 2s ease-out 1 forwards alternate;
}


#tseringimage{

	max-width:150px;
	max-height:150px;	
	
}

@keyframes imageBounce{

	0%{
		transform:translateY(-100px);
	}

	40%{
		transform:translateY(100px);

	}

	70%{
		transform:translateY(60px);

	}
	
	100%{
		
		transform:translateY(100px);

	}
}


/* imagerelrdslafkldfk */

#cv{
	color:white;
	text-decoration: none;
}

#play-me{
   
	width:100px;
	height:40px;
	/* background-color:white; */
	border:2px solid white;
	display:flex;
	justify-content:center;
	align-items:center;
	transition:all 2s;
	color:white;
	border-radius:20px;
	margin-top:5%;
	


	
	
	
}
#play-me:hover{
	background-color:white;
	color:grey;
}


/* about me */

#about-me{

	width:100%;
	min-height:60vh;

	

}
#about-me-box{
	
	margin-bottom:15%;
	margin-top:10%;
	overflow: hidden;
}

#about-me-border{
	width:90%;
	height:2px;
	background-color:grey;
	transition: all 1.1s ease-in;
}
.about-me-border{

	height:2px;
	background-color:grey;
	width:0%;
	transition: all 2s ease-out;
}

#about-me-box > h1{

	margin:40px;
	margin-left:18%;
	color:white;
	text-height:200px;

	
	
	

}




#about-me-box > p{

	margin-left:20%;
	width:70%;
	color:rgb(188, 184, 184);
	font-size:1rem;
	font-family: arial;
	line-height:30px;
	

	
}
#about-slide-animation{

	transform:translateX(120%);
	transition:all 1s ease-in;
	

}

#about-me-box-show{

    
	transform:translateX(0px);
	transition:all 1s ease-in-out;
	

	
	
}



/* skill */

#skill{

	width:100%;
	min-height:10vh;
	
	
	

}

#skill > h1{

	margin:40px;
	margin-left:18%;
	color:white;
	letter-spacing:3px;

}



.skill-border{
	width:0%;
	height:2px;
	background-color:grey;
	transition:all 0.9s ease;

}
#skill-border{
	width:100%;
	height:2px;
	background-color:grey;
	transition:all 0.9s ease;

}

.skill-box-move-up{

	transform:translateY(200px);
	transition:all 1s ease;

}

#skill-box-move-up{

	transform:translateY(0px);
	transition:all 1s ease;
}




#skill-content{
	margin-left:10%;
	margin-top:5%;
	margin-bottom:10%;
	width:90%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
		
		
		

}
#skill-content > div{

	width:200px;
	background-color:white;
	padding:20px;
	margin:20px;
	position: relative;

	

}
#skill-content > div h1{
	font-size:1.2rem;
	margin-left:1px;
}

#skill-content > div p{
	font-size:0.5rem;
	font-family: arial;
	margin-top:10px;
}

#skill-image-box > img{
	width:90%;
	height:90%;
	margin:auto auto;
	padding:6px;
	border:3px solid white;
	border-radius:50%;


	
}

#skill-text-content{

	margin-left:15px;
}
#skill-image-box{
	width:50px;
	height:50px;
	background-color:rgb(35, 34, 34);
	border-radius:50%;
	display: flex;
	justify-content: center;
	align-items:center;
	position:absolute;
	top:50%;
	left:0px;
	transform: translate(-50%,-50%);
	
	
	

	
	
}


#skill-hover-effect{
	width:0%;
	height:100%;
	background-color:grey;

	position: absolute;
	top:0px;
	left:0px;
	transition:all 0.8s ease-in-out;
	


} 

 #skill-content > div:hover #skill-hover-effect {

	width:100%;
	background-color:rgb(35, 34, 34);
	color:white;
	z-index:-1;

}

#skill-content > div:hover {

	z-index:2;
	color:rgb(233, 228, 228);
}



/* project */


#project-content{
	width:100%;
	min-height:40vh;
	
	

}
#project-content > h1{

	color:white;
	margin-left:18%;
	margin-top:10%;
	
	
}

#project-box 
{	
	
	width:85%;
	margin-left:15%;
	margin-top:10%;
	margin-bottom:10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}
#project-box > div{

	
	width:300px;
	min-height:200px;
	max-height: 300px;
	background-color:white;
	margin:10px;
	border-radius:5px;
	position: relative;
	overflow: hidden;



}
#project-box div h1{

		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		font-size:20px;
}


#box-parent{

	width:100%;
	height:100%;
	background-image:url(global.png);
	filter:blur(0px); 
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
	z-index: 1;


}


#box-parent:hover #visit-link{

		top:50%;
}

#visit-link{

	width:100px;
	height:40px;
	background-color:black;
	position:absolute;
	top:120%;
	left:50%;
	transform:translate(-50%,-50%);

	display: flex;
	justify-content:center;
	align-items: center;
	transition: all 1s ease;
	cursor: pointer;
	border-radius:5px;
	

}


#visit-link p{
	color:white;

	
	
}

#visit-link:hover{
	border:2px solid orangered;
}


.project-border{
	width:0px;
	height:2px;
	background-color:grey;
	transition:all 0.9s ease;
}

#project-border{
	width:90%;
	height:2px;
	background-color:grey;
	transition:all 0.9s ease;

}


/* socialmedai link click */
#socialmedia {

	position: absolute;
	height:100%;
	left:1%;
	position:fixed;
	display:flex;
	flex-direction:column;
	margin:10px 0px;
	


}

#socialmedia img{
	width:50px;
	height:50px;
	border-radius:50%;
	padding:2px;
	
	
	
}
#line{
	width:4px;
	min-height:80%;
	background-color:black;
	margin:0px auto;
	
}
#line >div{
	width:100%;
	height:0%;
	background-color:red;
	transition:all 0.1s ease;
   
}





/* endflkalfdk */




/* media query */




@media screen  and  (max-width:760px){


	#intro-text-box >h1{

		width:80%;
		letter-spacing:1px;
		

   }

   #intro-text-box h1> span{
	font-size:40px;

   }
   #intro-text-box h1{
	display: inline-block;
	text-align: center;


   }
	

	#intro-text-box > p{

		font-size:20px;
		color:white;
		position: relative;
		
		

		
	}
	#intro-text{
	
		
		line-height:40px;
		margin-top:70px;
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		text-align: center;
		


	}
	#intro-text-parent{

		position: relative;
		height:70vh;
	}

	#tseringimage{

		max-width:90px;
		max-height:90px;	
		
	}
	#play-me{
   
		
		margin-left: 25%;
		
	}

	#image-background{



		padding:1px;
		position:absolute;
		top:-50px;
		left:44.5%;
		transform: translate(-50%,-50%);

		
		
		
	}
	#grey-background{
		

		width:90%;
		
	}

	#socialmedia {

		left:0%;
		position:fixed;
		
		


	}
	#socialmedia img{
		width:30px;
		height:30px;
		
		

	}


	#about-me-box > p{

		margin-left:10%;
		width:85%;
		font-size: 12px;
		

		
	}

	#about-me-box > h1{

		
		margin-left:5%;
		font-size:1.2rem;

	}


	#skill-content > div{
		width:60%;
		
	
	}

	#skill-content{
		margin-left:5%;
		
			
			
			
	
	}
	#skill > h1{


		margin-left:5%;
		font-size:20px;
	
	
	}
	#project-content > h1{

		
		margin-left:5%;
		font-size:20px;
		
		
	}
	#project-box 
{	
	margin-left:7%;

	
	
	
}


}

@media only screen  and (max-width:1000px) and (min-width:600px)
{



	#tseringimage{

		width:120px;
		height:120px;
	
	}
	
	#image-background{


		padding:7px;
		
	}
	#project-box > div{

	
		width:230px;

	
	
	
	}
}
